/* Move your styles here when you're ready to clean up your HTML file */
html {
  font-size: 32px;
}

h1, h2 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
}

header {
  border: medium dotted green;
}

.class-list {
  list-style-type: square;
}

.item {
  border: 2px solid rgb(55, 45, 225);
}

.item.even {
  background-color: grey;
}

.item.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px;
}

#item2 {
  text-align: right;
}

ol > li p {
  padding: 15px;
  background-color: grey;
}

ol > li:nth-child(2n+1) > p {
  background-color: green;
}


a[title="Bitmaker"]:hover {
  text-decoration: none;
}

ul a:hover {
  background-color: yellow;
}

ul a:active {
  background-color: red;
}
