/* Move your styles here when you're ready to clean up your HTML file */
html {
  font-size: 32px;
}

h1, h2 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
}

header {
  border: medium dotted green;
}
